.thirdpage{
    background-color: bisque
}
#pagedoor {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div.a {
    text-align: center;
  }
  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size:25px;
  }
  button:hover {background-color: #ffffff}

button:active {
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}
  .youwin {
   display: center;
  }
  .youwin {
      background-image: url(https://img.freepik.com/free-vector/congratulations-with-confetti_51486-281.jpg?size=626&ext=jpg)
}
  .row {
    display: flex;
  }
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  .goof {
    display: center;
   }
#dpage {
padding-left: 300px;
padding-right: 10px;
}
