.thirdpage{
    background-color: bisque
}
#pagedoor {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div.a {
    text-align: center;
  }
  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .youwin {
   display: center;
  }
  .youwin {
      background-image: url(https://img.freepik.com/free-vector/congratulations-with-confetti_51486-281.jpg?size=626&ext=jpg)
}
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  .goof {
    display: center;
   }